@import '/styles/colors.module.scss';
@import '/styles/screenSizes.module.scss';

.nav {
  background-color: $bg2;
  box-shadow: 0 0 0 0.25rem $bg2-shadow;

  .navContainer {
    padding: 0.7rem 0;
    width: 90%;
    display: flex;
    max-width: $max-width;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    min-height: 2rem;
    direction: rtl;

    .title p {
      color: white;
      cursor: pointer;
      font-family: 'Prata', serif;
      font-weight: 400;
      font-size: 1.2rem;
    }

    .navbar-collapse {
      flex: 1;

      ul {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: auto;

        li {
          list-style-type: none;
          margin-left: 20px;
          p {
            color: #ccc;
          }

          p:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: $tablet) {
  .nav {
    .navContainer {
      height: auto;
      background-color: transparent;

      .toggle-btn {
        display: block;
        background-color: transparent;
        border: none;
      }

      .navbar-collapse {
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 20px;
        left: 20px;
        background-color: $bg2;
        border-radius: 3px;

        ul {
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding: 0.5rem;

          li {
            list-style-type: none;
            margin: 0;
            padding: 0.5rem 0;
          }
        }

        button {
          display: block;
          width: 25%;
          min-width: fit-content;
          margin: 0 auto 0.5rem;
        }
      }
    }
  }
}
